.container {
  background-color: black;
  width: 100%;
  height: 7rem;
  position: fixed;
  bottom: 0;
  z-index: 500;
}

.footer {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3rem;
  color: white;
  z-index: 500;
}

.links {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;

  & li {
    list-style: none;
    font-size: 1.2rem;

    & a:link,
    a:visited,
    a:active {
      color: white;
      text-decoration: none;
    }

    // & a:hover {
    //   text-decoration: underline;
    // }
  }
}
