.container {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5rem;
  color: white;
  z-index: 5;
}

.footer {
  display: flex;
  gap: 2rem;

  & li {
    list-style: none;
    font-size: 1.2rem;
  }
}
