.container {
  // background-color: aquamarine;
  width: 100%;
  position: fixed;
  color: white;
}

.footer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}
