.nav {
  position: fixed;
  top: 5rem;
  left: 5rem;
  z-index: 5;
  width: 53%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  color: white;
  // background-color: antiquewhite;
  font-family: "Oswald", sans-serif;

  & p {
    font-size: 2rem;
  }
}

.logo {
  text-transform: uppercase;
}

.about {
  display: flex;
  gap: 2rem;

  & li {
    list-style: none;
    font-size: 1.6rem;
    text-transform: uppercase;
  }
}
