.container {
  position: fixed;
  top: 5rem;
  left: 5rem;
  z-index: 5;
  width: 100%;
  display: flex;
  color: white;

  & p {
    font-size: 2rem;
  }
}

.kathy {
}

.about {
  display: flex;
  position: absolute;
  gap: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
