.container {
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-between;
  position: fixed;

  color: white;
}

.top-container {
}

.center-container {
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}

.contact-container {
  display: flex;
  gap: 2rem;
  margin-left: auto;
}
