.cursor {
  position: fixed;
  width: 3rem;
  height: 3rem;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1000;
  mix-blend-mode: difference;
}
