.container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.nav-bar-center {
  font-family: "Oswald", sans-serif;
  z-index: 500;
  position: absolute;
  top: 6.5rem;
  right: 46%;
}

.logo {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 5rem;
  left: 5rem;
  z-index: 500;
  transition: 0.4s;
  cursor: none;
}

.about {
  display: flex;
  gap: 2rem;
  margin-bottom: 0.4rem;
}

.link {
  color: white;
  text-decoration: none;
  list-style: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  cursor: none;
}

.logo:hover,
.list-item:hover {
  transform: translateY(-20%);
  transition: 0.4s;
}

.footer {
  z-index: 500;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
}

.links {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
}

.list-item {
  list-style: none;
  font-size: 1.2rem;
  transition: 0.4s;

  & a {
    cursor: none;
  }

  & a:link,
  a:visited,
  a:active {
    color: white;
    text-decoration: none;
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
}

.empty-container {
  width: 60%;
  height: 100%;
  background-color: transparent;
}

.text-container {
  width: 60%;
  height: 100%;
  position: absolute;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.desc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  text-transform: uppercase;
}

.project-container {
  width: 40%;
  height: 100vh;
  position: absolute;
  right: 0;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: all 2s;
  pointer-events: all;

  &:hover {
    filter: none;
  }
}

.title {
  font-size: 5rem;
  margin-bottom: 2rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;

  @media (max-width: 500px) {
    font-size: 3.6rem;
    line-height: 4rem;
    margin-bottom: 1rem;
  }
}

.desc {
  font-size: 1.4rem;
}
