* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--color-red-light);
  }
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  background-color: black;
  cursor: none;
}

html::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
}

.cursor {
  position: fixed;
  width: 3rem;
  height: 3rem;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1000;
  mix-blend-mode: difference;
}

li {
  list-style: none;
}
