.container {
  background-color: bisque;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-between;
}

.top-container {
  background-color: khaki;
}

.center-container {
  background-color: azure;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}

.contact-container {
  display: flex;
  gap: 2rem;
  margin-left: auto;
  background-color: lemonchiffon;
}
